<section
  class="min-h-screen bg-slate-900 flex items-center justify-center p-4"
>
  <div class="w-full max-w-md bg-slate-800 border border-slate-700 rounded-2xl shadow-2xl p-8">
    <h1 class="text-3xl font-bold text-center text-white mb-6">Login Task Gesture</h1>

    <form (submit)="onSubmit($event)" class="space-y-5" novalidate>
      <div>
        <label class="block text-sm font-medium text-slate-300 mb-1">
          Correo electrónico
        </label>
        <input
          type="email"
          placeholder="ejemplo@email.com"
          id="email"
          type="text"
          [formField]="loginForm.email"
          class="w-full px-4 py-2 bg-slate-900 border border-slate-700 text-white rounded-lg focus:ring-2 focus:ring-slate-500 focus:outline-none transition"
        />
        @if (isFieldInvalid('email')) {
          <p class="text-sm text-red-400 font-medium flex items-center gap-1 mt-2">
            <error-icon />
            @for (error of loginForm.email().errors(); track $index) {
              <span>{{ error.message }}</span>
            }
          </p>
        }
      </div>

      <div>
        <label class="block text-sm font-medium text-slate-300 mb-1">
          Contraseña
        </label>

        <div class="relative">
          <input
            [type]="showPassword() ? 'text' : 'password'"
            id="password"
            type="text"
            [formField]="loginForm.password"
            placeholder="••••••••"
            class="w-full px-4 py-2 bg-slate-900 border border-slate-700 text-white rounded-lg focus:ring-2 focus:ring-slate-500 focus:outline-none transition"
          />
          <button
            type="button"
            (click)="togglePasswordVisibility()"
            class="absolute right-3 top-2.5 text-slate-400 hover:text-white text-sm"
          >
            {{ showPassword() ? 'Ocultar' : 'Ver' }}
          </button>
        </div>
        @if (isFieldInvalid('password')) {
          <p class="text-sm text-red-400 font-medium flex items-center gap-1 mt-2">
            <error-icon />
            @for (error of loginForm.password().errors(); track $index) {
              <span>{{ error.message }}</span>
            }
          </p>
        }
      </div>

      <button
        type="submit"
        class="w-full bg-slate-700 text-white py-2 rounded-lg font-semibold hover:bg-slate-600 transition duration-300"
      >
        Iniciar Sesión
      </button>
    </form>
  </div>
</section>
 